* {
    box-sizing: border-box;
  }
  body {
    margin: 0px;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    padding: 25px;
  }
  .header__menu {
    position: fixed;
    z-index: 1;
    left: 0px;
    width: 320px;
    right: 20px;
    top: 0px;
    bottom: 5%;
    background: #EF5030;
    border-radius: 0px 14px 14px 0px;
    display: none;
    font-family: "Poppins";
    animation-duration: 0.5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-bottom: 100%;
    }
    to {
      margin-top: 0%;
    }
  }
  @media (min-width: 900px) {
    .header__menu {
      display: initial;
      position: static;
      background-color: white;
      color: black;
    }
  }
  .header__abrirmenu {
    font-size: 40px;
    border: none;
    background-color: inherit;
    color: white;
    margin: 5px 10px;
  }
  @media (min-width: 900px) {
    .header__abrirmenu {
      display: none;
    }
  }
  .header__menuopcionescontainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  @media (min-width: 900px) {
    .header__menuopcionescontainer {
      flex-direction: row;
      margin-top: 0;
      justify-content: left;
      max-width: 450px;
    }
  }
  .header__cerrarmenu {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 35px;
    color: white;
    background-color: inherit;
    border: none;
  }
  @media (min-width: 900px) {
    .header__cerrarmenu {
      display: none;
    }
  }
  .header__menuopcion_link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0 10px;
    cursor: pointer;
  }
  @media (min-width: 900px) {
    .header__menuopcion_link {
      font-size: 18px;
    }    
  }

  .header__menuopcion{
    display: flex;
    padding: 30px 10px;
    border-top: solid 1px white;
    width: 100%;
  }
  .header__menuopcion :hover{
    color: #2e2928;
    font-weight: bold;
  }
  .header__user_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__user_menu_usermail{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
  .header__user_menu_cerrarsesion{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background: none;
    padding: 5px;
  }
  
  

  @media (min-width: 900px) {
    .header__menuopcion{
      display: inherit;
      padding: 30px 10px;
      border-top: none;
      width: inherit;
    }
    .header__user_menu{
      position: absolute;
      top: 25px;
      left: 50%;
    }
    
  }
  .button_box :hover{
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    /* padding: 5px; */
    color: #2e2928;
    cursor: pointer;
  }

  .button_box_user_session :hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    border-radius: 10px;
    background: #665943;
    cursor: pointer;
  }