.root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
@media (min-width: 900px) {
    .root{
      margin: 100px;
    }
    }

    .perrito_container {
      animation: shake 1s ease-in-out 2;
      transform-origin: center;
    }
    
    @keyframes shake {
      0% {
        transform: rotateZ(-5deg);
      }
      50% {
        transform: rotateZ(5deg);
      }
      100% {
        transform: rotateZ(-5deg);
      }
    }

    .perrito_container:hover {
      animation: shake 1s infinite;
      scale: 1.1;
    }