html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
.root{
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }