.conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.root{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #108896;
    margin: 50px;
    margin-bottom: 40px;
}

@media (min-width: 900px) {
  .root{
    font-size: 45px;
  }
  }

  .p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #108896;
    margin: 30px;
    margin-bottom: 40px;
  }